body{
    background-color: lightsteelblue;
    margin-right: 9%;
    margin-left: 9%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(2, 2, 158);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    position: absolute;
}

h1{
    border-bottom-width: 3px;
    border-bottom-style: dashed;
    border-bottom-color: peachpuff;
}

img{
    width: 50%;
    height: 25%;
}

#footer{
    border-top-width: 3px;
    border-top-style: dashed;
    border-top-color: peachpuff;
}